html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#keseluruhan {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #d2527f, #f54e80, #5868ec, #26a65b, #f89406, #f7ca18, #f22613);
    background-size: 500% 500%;
    animation: ignielGradient 12s ease infinite;
}

#container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 13px 14px 23px -4px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(173, 173, 177, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#header,
#menu,
#menukiriatas,
#menukiribawah,
#footer {
    height: 165px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

#header {
    width: calc(100% - 10px);
    height: 100px;
}

#menu {
    width: calc(100% - 10px);
    height: 50px;
}

#menukiriatas,
#menukiribawah {
    width: calc(40% - 10px);
    height: 165px;
}

#menukiribawah {
    display: flex;
    margin: 18% 0 0 -39.5%;
}

#isi {
    width: calc(60% - 10px);
    height: 340px;
    margin-left: 10px;
    position: relative;
}

#footer {
    width: calc(100% - 10px);
    height: 50px;
}

.khususisi {
    margin: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.khususvideo {
    position: absolute;
    top: 20px;
    width: calc(100% - 10px);
    height: 91%;
    border-radius: 10px;
}

@-webkit-keyframes ignielGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes ignielGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes ignielGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }

    #menukiribawah {
        margin: auto;
    }

    #isi {
        margin: 0.8% auto;
    }

    #header,
    #menu,
    #menukiriatas,
    #menukiribawah,
    #isi,
    #footer {
        width: calc(100% - 10px);
    }
}